body{
    background-color: 
    #ffffff;
}
.pag-inicial{
    text-align: center;
}

.botão a{
    color: black;
    margin-right: 20px;
  font-size: 20px;

}

.botão{
    margin: 20px;
}

.botão a:hover{
    color: #ff0101;

}
body.CADASTRO{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
    margin-top: 250px;

}
.CADASTRO a{
    color: #ffffff;

}
.CADASTRO a:hover{
    color: #ff0101;
}

body.pagina{
    background-color: #000000;
    text-align: center;
    font-size: 50px;
}
.fiba img{
margin-top: 100px;
width: 600px;
}
.perfil img{
    display: flex;
    border-radius: 100%;
    width: 100px;
}
.perfil{
    background-color: #000000;
}