<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body class="CADASTRO"> 
   <div class="caixa">
    <h2>LOGIN </h2>
    <p> USUÁRIO </p>
    <input type="text" name="Usuário">

    <p>SENHA</p>
    <input type="passoword" name="senha">
    <br>
    <a href="/primeira pagina">ENTRAR</a>

   </div>
    
</body>
</html>